*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-image: url("txtAndImgFiles/Trees.jpg");
	background-size: auto 1000px;
}

.page{
	width: 1000px;
	margin: 0 auto;
}

h1{
	font-size: 3em;
	padding-left:5px;
}

.top-banner{
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
	background-color: #849CE4;
}

.banner-buttons{
	display: flex;
	flex-direction: column;
	margin-right: 25px;
}

.button{
	padding: 2px 0;
}

.menu a{
	padding: 5px 0;
}

.menu{
	display: flex;
	justify-content: space-around;
	border: 1px solid #5D6063;
	background-color: #E0E7FD;
}

.mp3-box{
	width:1000px;
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 100px;
	border-left: 1px solid #5D6063;
	border-right: 1px solid #5D6063;
	background-color: #FFEC86;
}

.projects-container{
	display: flex;
	
}

.colors-box, .rv-box{
	border: 1px solid #5D6063;
	width: 500px;
  height: 300px;
}

h2{
	font-size: 2em;
	padding-left: 5px;
}

p{
	padding-left: 5px;
	padding-top: 5px;
}

.colors-box{
	background-color: #E0E7FD;
	border-right: none;
}

.rv-box{
	background-color: #9F84E5;
}

a:link {
  text-decoration: none;
  color:inherit;
}
a:visited {
  color: inherit;
}
a:hover {
  color: #849CE4;
}
a:active {
  color: inherit;
}



/*For About page*/

.about-content{
	display: flex;
	flex-direction: column;
	background-color: #FFEC86;
	align-items: center;
	height:700px;
}

.about-content p{
	padding:10px;
	width:800px;
}

/*For Colors page*/

.about-contentc{
	display: flex;
	flex-direction: column;
	background-color: #E0E7FD;
	align-items: center;
	height:700px;
}

.about-contentc p{
	padding:10px;
	width:800px;
}

.about-contentc a{
	color:blue;
	text-decoration: underline;
}



/*For Remain Vibrant page*/

.about-contentrv{
	display: flex;
	flex-direction: column;
	background-color: #9F84E5;
	align-items: center;
	height:700px;
}

.about-contentrv p{
	padding:10px;
	width:800px;
}

.about-contentrv a{
	color:lightblue;
	text-decoration: underline;
}
