*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
  font-family:'Montserrat';
  src: url('Montserrat(1)/Montserrat-Regular.ttf')format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family:'Josefin-Sans';
  src: url('Josefin_Sans/static/JosefinSans-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family:'Josefin-Sans';
  src: url('Josefin_Sans/static/JosefinSans-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 400;
}

section, article, aside, footer, header, nav {
  	display: block;
}

body{
	background-image: url("txtAndImgFiles/Trees2.jpg");
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	font-family: "Montserrat", sans-serif;
}

.page{
	width: 1000px;
	margin: 0 auto;
}

h1{
	font-size: 3em;
	padding-right: 20px;
}

.top-banner{
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
	background-color: #849CE4;
	opacity: 80%;
	align-items: center;
}

.invisible{
	padding: 2px 0;
	display: flex;
	flex-direction: column;
	margin-left: 25px;
	visibility: hidden;
}


.banner-buttons{
	display: flex;
	flex-direction: column;
	margin-right: 25px;
}

.button{
	padding: 2px 0;
}

.menu a{
	padding: 5px 0;
}

.menu{
	display: flex;
	justify-content: space-around;
	border-top: 1px solid #5D6063;
	border-bottom: 1px solid #5D6063;
	background-color: #E0E7FD;
	opacity: 80%;
}

.mp3-box{
	width:1000px;
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	padding: 100px;
	background-color: #FFEC86;
	opacity: 80%;
}

.mp3-box p{
	padding: 10px;
	margin-right: 17%;
	margin-bottom: 8px;
	font-size: 1.2em;
	width: max-content;
}

.projects-container{
	display: flex;
	
}

.colors-box, .rv-box{
	border-top: 1px solid #5D6063;
	width: 500px;
  height: 300px;
	opacity: 80%;
}

h2{
	font-size: 2em;
	padding-left: 5px;
}

p{
	padding-left: 5px;
	padding-top: 5px;
}

.colors-box{
	background-color: #E0E7FD;
	border-right: 1px solid #5D6063;
}

.colorsimg{
	float:right;
	padding-right: 2px;
}

.colors-box p{
	width: 50%;
	margin-top: 15px;
}

.rv-box{
	background-color: #9F84E5;
	font-family: Josefin-Sans,sans-serif;
}

.rv-box h2{
	font-style: italic;
}

.rvimg{
	float:right;
	padding-right: 2px;
}

.rv-box p{
	width: 50%;
	margin-top: 15px;
}

h2 a:link{
	text-decoration: none;
	color: inherit;
  display: inline-block;
  line-height: 0.85;
}
h2 a:visited{
	text-decoration: none;
	color: inherit;
}
h2 a:hover{
	opacity: 50%;
}
h2 a:active{
	color: inherit;
}

.menu a:link{
  text-decoration: underline;
	text-decoration-color: #5f7cd1;
  color: inherit;
	border-bottom: none;
}
.menu a:visited {
	text-decoration: underline;
	text-decoration-color: #5f7cd1;
  color: inherit;
	border-bottom: none;
}
.menu a:hover {
  opacity: 70%;
}
.menu a:active {
  color: inherit;
}

a:link{
  text-decoration: none;
	color: inherit;
}
a:visited{
	text-decoration: none;
  color: inherit;
}
a:hover{
  opacity: 70%;
}
a:active{
  color: inherit;
}

.colors-box a:link,.rv-box a:link{
  text-decoration: underline;
	text-decoration-color: #5f7cd1;
  color: inherit;
	border-bottom: none;
}
.colors-box a:visited, .rv-box a:visited{
	text-decoration: underline;
	text-decoration-color: #5f7cd1;
  color: inherit;
	border-bottom: none;
}
.colors-box a:hover, .rv-box a:hover{
  opacity: 70%;
}
.colors-box a:active, .rv-box a:active{
  color: inherit;
}


/*For About page*/

.about-content{
	display: flex;
	flex-direction: column;
	background-color: #FFEC86;
	align-items: center;
	height:700px;
	opacity: 80%;
}

.about-content p{
	padding:10px;
	width:800px;
}

/*For Colors page*/

.about-contentc{
	display: flex;
	flex-direction: column;
	background-color: #E0E7FD;
	align-items: center;
	height:700px;
	opacity: 80%;
}

.about-contentc p{
	padding:10px;
	width:800px;
}

.about-contentc a{
	color:blue;
	text-decoration: underline;
}



/*For Remain Vibrant page*/

.about-contentrv{
	display: flex;
	flex-direction: column;
	background-color: #9F84E5;
	align-items: center;
	height:700px;
	opacity: 80%;
}

.about-contentrv p{
	padding:10px;
	width:800px;
}

.about-contentrv a{
	color: blue;
	text-decoration: underline;
}

/*Responsive Design*/

/*tabletish*/
@media only screen and (max-width: 1000px){
	.page, .mp3-box{
		width: 100%;
	}
	.colors-box, .rv-box{
		width: 50%;
	}
}

/*mobile*/
@media only screen and (max-width: 600px){
	.projects-container{
		display: block;
	}
	.colors-box, .rv-box{
		width: 100%
	}
}
